@import "./root.css";

.admin-contenedor {
    background-color: var(--color-base-300);
}

.admin-boton{
    background-color: var(--error-text);
    color: var(--color-base-100);
}

.admin-boton:hover{
    border-color: var(--error-text);
    color: var(--error-text);
}